<div class="daily-record">
    <p>Date: {{ daily_record.date }}</p>
    <p>Male Count: {{ daily_record.male_count }}</p>
    <p>Female Count: {{ daily_record.female_count }}</p>
    <p>Male Avg Age: {{ daily_record.male_avg_age }}</p>
    <p>Female Avg Age: {{ daily_record.female_avg_age }}</p>
</div>
  
  <br>
  
<table class="table">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Created At</th>
        <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <form id="delete-form-{{ user.id }}" action="/users/{{ user.id }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                </form> 
            </td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  